@tailwind base;
@tailwind components;
@tailwind utilities;

/* .clip-diagonal{
  background-color: #1f1f1f;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
} */
 /* sahi hai */
/* .clip-diagonal{
  background-color:#1f1f1f;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 65% 0%);
} */

/* .clip-diagonal{
  background-color:#1f1f1f;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 75% 0%);
} */

.clip-diagonal{
  background-color:#1f1f1f;
clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 0%);
}






